
###> symfony/framework-bundle ###
/.idea
/node_modules

/.env.local
/.env.dev
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###
